{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="static/javascripts/codemirror/lib/codemirror.css">
{% endblock %}

{% block body %}

<form action="/render/" method="POST" target="_blank" class="custom">
	<label for="template-slug">Template slug</label>
	<div class="row">
		<div class="three columns">
			<select name="template-slug" id="template-slug-select">
			{% for tpl in data.templates %}
				<option value="{{tpl.slug}}">{{tpl.slug}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="three columns end"><a href="#" id="view-template" class="button small">View</a>
		</div>
	</div>

	<fieldset>
		<legend>Sending</legend>
		<div class="row">
			<div class="one mobile-one columns">
				<label for="from-email" class="right inline">From</label>
			</div>
			<div class="five mobile-three columns">
				<input class="inline" type="email" name="from-email" value="support@donenotdone.com">
			</div>
			<div class="one mobile-one columns">
				<label for="to-email" class="right inline">To</label>
			</div>
			<div class="five mobile-three columns">
				<input class="inline" type="email" name="to-email" value="coj@funkatron.com">
			</div>
		</div>
		<div class="row">
			<div class="one mobile-one columns">
				<label for="subject" class="right inline">Subject</label>
			</div>
			<div class="eleven mobile-three columns">
				<input class="inline" type="text" name="subject" value="A neat testing email from Done Not Done">
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Template vars</legend>

	<label for="template-content">Template Content (JSON)</label>
	<textarea name="template-content" id="templateContent" value="" placeholder="[]">[]</textarea>

	<label for="template-content">Merge vars (JSON)</label>
	<textarea name="merge-vars" id="mergeVars" value="" placeholder="[]">[
  { "name": "subject", "content": "DONE NOT DONE: Welcome!" },
  { "name": "name", "content": "Ed Finkler" },
  { "name": "header", "content": "Welcome to Done Not Done!" }
]
</textarea>
	</fieldset>

	<div class="row">
		<div class="six columns">
			<input type="submit" name="action" value="render" class="button radius">
		</div>
		<div class="six columns right">
			<input type="submit" name="action" value="send" class="button radius alert">
		</div>
	</div>
</form>

{% endblock %}


{% block custom_footer %}
	<!-- codemirror stuff -->
	<script src="static/javascripts/codemirror/lib/codemirror.js"></script>
	<script src="static/javascripts/codemirror/mode/javascript/javascript.js"></script>
	<script src="static/javascripts/codemirror/addon/edit/matchbrackets.js"></script>
	<script>
	var opts = {
		'mode':{'name':'javascript','json':true},
		'lineNumbers':true,
		'matchBrackets': true,
	}
	var myCodeMirror1 = CodeMirror.fromTextArea(document.getElementById('templateContent'), opts);
	var myCodeMirror2 = CodeMirror.fromTextArea(document.getElementById('mergeVars'), opts);
	</script>

	<script>
	$(document).ready(function() {
		$('#view-template').on('click', function(e) {
			var slug = $('#template-slug-select').val();
			var templateViewerWindow = window.open('/template/'+slug, 'templateViewerWindow');
		})
	})

	</script>
{% endblock %}