/* Artfully masterminded by ZURB  */

textarea {
	font-family: monospace;
}

.CodeMirror {
	border: 1px solid #CCC;
	background-color: #FFFFEE;
	height: 200px;
	max-width:960px;
}

.CodeMirror-scroll {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#template-viewer .CodeMirror {
	min-height:400px;
	height:100%;
}

a#view-template {
	margin-top:2px;
}

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


