/* Artfully masterminded by ZURB  */

textarea {
	font-family: monospace;
}

.CodeMirror {
	height: 200px;
}

#template-viewer .CodeMirror {
	min-height:400px;
	height:100%;
}

a#view-template {
	margin-top:2px;
}

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


